body {
  background-color: rgb(161, 210, 221);
  font-family: "Roboto", sans-serif;
  color: rgb(58, 58, 58);
}

h1 {
  text-align: center;
  color: rgb(31, 31, 31);
  margin: 2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form {
  width: 40rem;
  margin: auto;
  background-color: rgb(188, 218, 223);
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 2px 4px 1px rgba(31, 31, 31, 0.4);
}

label {
  margin-bottom: 0.5rem;
  display: block;
}

textarea {
  resize: none;
}

input,
textarea,
select {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid rgb(184, 184, 184);
  padding: 0.25rem;
  color: rgb(61, 58, 58);
}

input:focus,
textarea:focus,
select:focus {
  background-color: rgb(219, 190, 253);
  color: rgb(32, 5, 63);
  border-color: rgb(32, 5, 63);
}

.form-control-inline {
  display: flex;
  margin-bottom: 0;
}

.form-control-inline input {
  width: auto;
  margin-right: 0.5rem;
}

#btn {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

button {
  display: block;
  font: inherit;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 1px;
}

.filled-btn {
  background-color: rgb(111, 55, 180);
  border-color: rgb(111, 55, 180);
}

.empty-btn {
  background-color: rgb(129, 120, 138);
  border-color: rgb(111, 111, 111);
}

.filled-btn:hover {
  background-color: rgb(119, 28, 223);
  border-color: rgb(119, 28, 223);
}

.empty-btn:hover {
  background-color: rgb(169, 156, 183);
  border-color: rgb(169, 156, 183);
}
